<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Combe90 - About Us</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <img
          src="{% static 'images/Combe90_logo.jpg' %}"
          alt="Combe90 Logo"
          class="logo"
        />
        <hr />
        <!-- Hamburger menu -->
        <div class="hamburger" onclick="toggleMenu()">☰</div>

        <!-- Navigation menu -->
        <nav>
          <ul id="nav-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about_us' %}" class="active">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'contact_us' %}">Contacts</a></li>
            <li><a href="#cart">Cart</a></li>
            <li><a href="#quotation">Quotation</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Breadcrumbs -->
    <section
      class="breadcrumbs-custom bg-image"
      style="
        background-image: url('{% static 'images_previous_site/Combe-90-fuel-management-system-2.jpg' %}');
      "
    >
      <div class="container">
        <h2 class="breadcrumbs-custom__title">About Us</h2>
        <ul class="breadcrumbs-custom__path">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">About Us</li>
        </ul>
      </div>
    </section>

    <!-- About Us with Carousel -->
    <section class="section section-lg bg-default">
      <div class="container">
        <div class="about-us-content">
          <div class="about-description">
            <h4>About Us</h4>
            <p>
              Founded and registered under laws of the Republic of South Africa
              in 2015, Combe 90 Engineering (Pty) Ltd is a 100% black owned and
              certified level 1 (100% procurement recognition) accreditation on,
              Broad Based Black Empowerment Enterprise (BBBEE).
            </p>
            <p>
              Combe 90 Engineering has developed basic and detailed engineering,
              design and project management strengths to provide engineered, and
              sustainable telemetry and fuel management solutions to its
              clients.
            </p>
            <p>
              Our focus is on providing sound and reliable solutions to the
              water and petroleum sectors throughout the African continent. This
              includes application-specific, customized solutions with our
              product range, to suit client requirements -and all aspects of
              installation and maintenance thereof.
            </p>
            <h4>Our Vision</h4>
            <p>
              Our vision is to provide cost-effective and efficient telemetry,
              tank gauging and leak detection solutions for small and
              medium-sized applications in the commercial, industrial, and
              municipal domains, while maintaining a professional approach to
              service delivery required for ensuring proper governance, control,
              and customer satisfaction.
            </p>
            <p>
              Our customer-centric business model focuses on the delivery of
              custom and off-the-shelf products and solutions with backup from
              reputable suppliers where applicable.
            </p>
          </div>
          <div class="about-carousel">
            <div id="about-us-carousel" class="owl-carousel owl-theme">
              {% for carousel_image in carousel_images %}
              <div class="item thumb-corporate__inner">
                <img
                  src="{{ carousel_image.image.url }}"
                  alt="{{ carousel_image.alt_text }}"
                  width="370"
                  height="303"
                />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our History -->
    <section
      class="section parallax-container bg-gray-dark"
      style="
        background-image: url('{% static 'images_previous_site/fleet_and_truck.jpg' %}');
      "
    >
      <div class="parallax-content">
        <div class="section-lg text-center">
          <div class="container">
            <h2 class="timeline-header">Our History</h2>
            <div class="timeline">
              <div class="timeline__item-wrap">
                <article class="timeline__item">
                  <div class="timeline__item-header">
                    <h5>Founded, 2015</h5>
                  </div>
                  <div class="timeline__item-main">
                    <img
                      alt=""
                      height="86"
                      src="{% static 'images_previous_site/COMBE90.png' %}"
                      width="93"
                    />
                    <p>
                      Since its inception, Combe 90 Engineering has focused on
                      developing strong competencies in basic and detailed
                      engineering, design, and project management.
                    </p>
                  </div>
                </article>
              </div>
              <div class="timeline__item-wrap">
                <article class="timeline__item timeline__item-reverse">
                  <div class="timeline__item-header">
                    <h5>Where we are now</h5>
                  </div>
                  <div class="timeline__item-main">
                    <img
                      alt=""
                      height="86"
                      src="{% static 'images_previous_site/current.jpg' %}"
                      width="93"
                    />
                    <p>
                      Combe 90 Engineering is an established entity in the
                      Republic of South Africa, continuing to operate under the
                      principles and certifications that have defined its growth
                      since 2015.
                    </p>
                  </div>
                </article>
              </div>
              <div class="timeline__item-wrap">
                <article class="timeline__item">
                  <div class="timeline__item-header">
                    <h5>Where we are going</h5>
                  </div>
                  <div class="timeline__item-main">
                    <img
                      alt=""
                      height="86"
                      src="{% static 'images_previous_site/future.jpg' %}"
                      width="93"
                    />
                    <p>
                      Combe 90 Engineering aims to expand and solidify its
                      position as a leading provider of innovative and
                      sustainable telemetry and fuel management solutions in the
                      African continent and beyond.
                    </p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="footer-section parallax-container"
      data-parallax-img="{% static 'images_previous_site/Fuel-Management-Solutions.jpg' %}"
    >
      <div class="parallax-content">
        <div class="container">
          <div class="footer-columns">
            <div class="footer-column">
              <h4>Contact Us</h4>
              <ul>
                <li>Phone: +27 11 776 9141</li>
                <li>Phone: +27 72 567 8909</li>
                <li>Email: info@combe90.co.za</li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'contact_us' %}">Contacts</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Follow Us</h4>
              <ul class="social-icons">
                <li>
                  <a
                    href="https://web.facebook.com/combe90eng/?_rdc=1&_rdr"
                    target="_blank"
                    ><img
                      src="{% static 'images_previous_site/facebook-48.png' %}"
                      alt="Facebook"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/company/combe-90-engineering/"
                    target="_blank"
                    ><img
                      src="{% static 'images_previous_site/linkedin-48.png' %}"
                      alt="LinkedIn"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Subscribe Now</h4>
              <!-- RD Mailform-->
              <form
                method="post"
                class="rd-mailform rd-mailform_sm rd-mailform_inline"
                data-form-output="form-output-global"
                data-form-type="subscribe"
                action="{% url 'subscribe_email' %}"
              >
                {% csrf_token %}
                <div class="form-wrap">
                  <input
                    class="form-input"
                    data-constraints="@Email @Required"
                    id="footer-form-subscribe-email"
                    name="email"
                    type="email"
                    placeholder="Enter Your E-mail"
                  />
                  <button class="button button-secondary" type="submit">
                    Send
                  </button>
                </div>
              </form>
              <div class="snackbar" id="form-output-global"></div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>&copy; 2024 Combe90. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
